html(lang="en")
  head
    title AGNTX ai
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap")
    link(rel="stylesheet" href="css/tailwind/tailwind.min.css")
    link(rel="icon" type="image/png" sizes="32x32" href="agntx-title.png")
    script(src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js" defer="defer")
  body(class="antialiased bg-body text-body font-body")
    div(class="")
      div
        div
          div
            div(x-data="{ mobileNavOpen: false, dropdown: false }" class="bg-black")
              nav(class="relative px-12 py-5")
                div(class="flex items-center justify-between")
                  a(class="relative z-10 pr-4 lg:pr-0" href="index.html")
                    img(class="h-9" src="images/agntx-logo.png" alt="")
                  //- Desktop Navigation
                  ul(class="hidden xl:absolute xl:top-1/2 xl:left-1/2 xl:transform xl:-translate-y-1/2 xl:-translate-x-1/2 xl:flex lg:justify-center gap-14")
                    li
                      a(href="#", class="text-lg text-white hover:text-gray-300 font-medium transition duration-200") Blog
                    li
                      a(href="index.html#learn-more", class="text-lg text-white hover:text-gray-300 font-medium transition duration-200") Services
                    li
                      a(href="contact.html", class="text-lg text-white hover:text-gray-300 font-medium transition duration-200") Contact Us

                  //- Mobile Menu Button (Burger Icon)
                  button(@click="mobileNavOpen = !mobileNavOpen" class="xl:hidden text-white focus:outline-none z-20")
                    svg(xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor")
                      path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16")

                //- Mobile Dropdown Menu
                div(x-show="mobileNavOpen" class="xl:hidden bg-white/10 backdrop-blur-md shadow-lg rounded-lg overflow-hidden z-10 transition-all duration-300 ease-in-out mt-6")
                  ul(class="flex flex-col space-y-4 p-6 text-white")
                    li
                      a(href="#", class="block text-lg font-medium hover:text-gray-300 transition") Blog
                    li
                      a(href="index.html#learn-more", class="block text-lg font-medium hover:text-gray-300 transition") Services
                    li
                      a(href="contact.html", class="block text-lg font-medium hover:text-gray-300 transition") Contact Us
      section(class="py-24 md:py-40")
        div(class="container mx-auto px-4")
          h3(class="mb-16 font-heading text-4xl md:text-5xl font-bold text-center leading-tight") Who we are
          div(class="max-w-6xl mx-auto")
            div(class="mb-20 relative overflow-hidden rounded-3xl" style="height: 512px;")
              img(class="absolute top-0 left-0 w-full h-full object-cover transform hover:scale-105 rounded-3xl transition duration-200" src="interlock-assets/about/who-we-are.jpg" alt="")
            p(class="mb-24 text-3xl max-w-5xl mx-auto text-center font-light leading-tight") At AGNTX, we are pioneers in AI-powered automation, specializing in creating intelligent, scalable, and customizable AI agents for businesses. Our team is dedicated to delivering cutting-edge solutions that optimize operations, enhance customer experiences, and drive results. Whether you're a small business or a large enterprise, we provide you with the tools to harness the power of automation.
            div(class="flex flex-wrap items-center -m-10")
              div(class="w-full md:w-1/2 p-10")
                div(class="relative overflow-hidden rounded-3xl" style="height: 496px;")
                  img(class="absolute top-0 left-0 w-full h-full object-cover transform hover:scale-105 rounded-3xl transition duration-200" src="interlock-assets/about/what-we-do.jpeg" alt="")
              div(class="w-full md:w-1/2 p-10")
                h3(class="mb-16 font-heading text-4xl md:text-5xl font-bold leading-tight") Why AGNTX?
                ul
                  li(class="flex items-center -m-2 mb-2")
                    div(class="w-auto p-2")
                      div(class="flex items-center justify-center w-7 h-7 bg-gray-50 rounded-full")
                        svg(xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewbox="0 0 12 12" fill="none")
                          path(d="M3.87459 10.3313C3.53396 10.3315 3.20728 10.1961 2.96662 9.95501L0.22153 7.21093C-0.0738435 6.91546 -0.0738435 6.43651 0.22153 6.14104C0.516999 5.84567 0.995953 5.84567 1.29142 6.14104L3.87459 8.72422L10.7086 1.89023C11.004 1.59486 11.483 1.59486 11.7785 1.89023C12.0738 2.1857 12.0738 2.66465 11.7785 2.96012L4.78256 9.95501C4.5419 10.1961 4.21523 10.3315 3.87459 10.3313Z" fill="#273ACF")
                    div(class="w-auto p-2")
                      span(class="text-lg font-medium") Tailored Solutions: Every business is unique, and we believe in providing personalized automation that meets your specific needs.
                  li(class="flex items-center -m-2 mb-2")
                    div(class="w-auto p-2")
                      div(class="flex items-center justify-center w-7 h-7 bg-gray-50 rounded-full")
                        svg(xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewbox="0 0 12 12" fill="none")
                          path(d="M3.87459 10.3313C3.53396 10.3315 3.20728 10.1961 2.96662 9.95501L0.22153 7.21093C-0.0738435 6.91546 -0.0738435 6.43651 0.22153 6.14104C0.516999 5.84567 0.995953 5.84567 1.29142 6.14104L3.87459 8.72422L10.7086 1.89023C11.004 1.59486 11.483 1.59486 11.7785 1.89023C12.0738 2.1857 12.0738 2.66465 11.7785 2.96012L4.78256 9.95501C4.5419 10.1961 4.21523 10.3315 3.87459 10.3313Z" fill="#273ACF")
                    div(class="w-auto p-2")
                      span(class="text-lg font-medium") Cutting-Edge Technology: We use the latest advancements in AI and machine learning to deliver scalable and efficient solutions.
                  li(class="flex items-center -m-2 mb-2")
                    div(class="w-auto p-2")
                      div(class="flex items-center justify-center w-7 h-7 bg-gray-50 rounded-full")
                        svg(xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewbox="0 0 12 12" fill="none")
                          path(d="M3.87459 10.3313C3.53396 10.3315 3.20728 10.1961 2.96662 9.95501L0.22153 7.21093C-0.0738435 6.91546 -0.0738435 6.43651 0.22153 6.14104C0.516999 5.84567 0.995953 5.84567 1.29142 6.14104L3.87459 8.72422L10.7086 1.89023C11.004 1.59486 11.483 1.59486 11.7785 1.89023C12.0738 2.1857 12.0738 2.66465 11.7785 2.96012L4.78256 9.95501C4.5419 10.1961 4.21523 10.3315 3.87459 10.3313Z" fill="#273ACF")
                    div(class="w-auto p-2")
                      span(class="text-lg font-medium") Dedicated Support: Our team is here for you every step of the way, offering ongoing support and consultation to ensure you get the most out of our services.
      //- TODO: complete later               
      //- section(class="py-24 md:py-40 bg-gray-50")
      //-   div(class="container mx-auto px-4")
      //-     div(class="mb-12 max-w-2xl mx-auto")
      //-       h3(class="mb-10 font-heading text-4xl md:text-5xl font-bold text-center leading-tight") Meet our team
      //-       p(class="text-xl font-medium text-center leading-relaxed") Our team of AI experts, developers, and business strategists is committed to helping you succeed. We bring years of experience in automation and AI, working alongside you to understand your goals and develop the right solutions for your business.
      //-     div(class="flex flex-wrap -m-2.5")
      //-       div(class="w-full md:w-1/2 p-2.5")
      //-         div(class="py-10 px-8 h-full bg-white rounded-3xl")
      //-           div(class="flex flex-wrap -m-5")
      //-             div(class="w-full lg:w-1/3 p-5")
      //-               img(class="object-cover transform hover:scale-105 rounded-3xl transition duration-200" style="width: 173px; height: 192px" src="interlock-assets/team/pic.jpg" alt="")
      //-             div(class="w-full lg:w-2/3 p-5")
      //-               div(class="mb-6 pt-4 flex flex-wrap justify-between -m-2")
      //-                 div(class="w-full lg:flex-1 p-2")
      //-                   h3(class="font-heading text-2xl font-bold") Sourabh Rajeev
      //-                   p(class="text-sm text-blue-500 font-medium") Founder
      //-                 div(class="w-full lg:w-auto p-2")
      //-                   div(class="flex flex-wrap -m-1")
      //-                     div(class="w-auto p-1")
      //-                       a(href="#" class="flex items-center justify-center w-10 h-10 bg-gray-50 rounded-full")
      //-                         svg(width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
      //-                           path(d="M12.3731 1.20053H14.7039L9.61187 7.02035L15.6022 14.9398H10.9118L7.23814 10.1367L3.03463 14.9398H0.702494L6.14886 8.71486L0.402344 1.20053H5.21177L8.53245 5.59076L12.3731 1.20053ZM11.5551 13.5447H12.8466L4.51001 2.52232H3.12411L11.5551 13.5447Z" fill="#060918")
      //-                     div(class="w-auto p-1")
      //-                       a(href="#" class="flex items-center justify-center w-10 h-10 bg-gray-50 rounded-full")
      //-                         svg(width="17" height="17" viewbox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
      //-                           path(d="M0.25 1.89816C0.25 1.35922 0.438632 0.914602 0.815878 0.564307C1.19313 0.213996 1.68356 0.0388489 2.28716 0.0388489C2.87999 0.0388489 3.35963 0.211296 3.72611 0.556223C4.10336 0.911918 4.29199 1.37539 4.29199 1.94667C4.29199 2.46404 4.10876 2.89518 3.74228 3.2401C3.36503 3.5958 2.86921 3.77365 2.25483 3.77365H2.23866C1.64583 3.77365 1.16619 3.5958 0.79971 3.2401C0.433231 2.88441 0.25 2.43709 0.25 1.89816ZM0.460183 16.0451V5.24493H4.04947V16.0451H0.460183ZM6.03813 16.0451H9.62741V10.0145C9.62741 9.63721 9.67053 9.34619 9.75676 9.14141C9.90765 8.77493 10.1367 8.46504 10.4439 8.21175C10.7511 7.95845 11.1364 7.8318 11.5999 7.8318C12.8071 7.8318 13.4107 8.64558 13.4107 10.2732V16.0451H17V9.8528C17 8.25755 16.6228 7.04766 15.8682 6.22309C15.1137 5.39853 14.1167 4.98624 12.8772 4.98624C11.4867 4.98624 10.4035 5.58446 9.62741 6.78089V6.81322H9.61125L9.62741 6.78089V5.24493H6.03813C6.05968 5.58984 6.07046 6.66231 6.07046 8.46235C6.07046 10.2624 6.05968 12.79 6.03813 16.0451Z" fill="#060918")
      //-               p(class="text-gray-500 font-medium leading-relaxed") Nunc porttitor, purus et ultricies porta, nisi magna gravida tortor, molestie lobortis tortor diam mattis mauris cras at lacinia.
      //-       div(class="w-full md:w-1/2 p-2.5")
      //-         div(class="py-10 px-8 h-full bg-white rounded-3xl")
      //-           div(class="flex flex-wrap -m-5")
      //-             div(class="w-full lg:w-1/3 p-5")
      //-               img(class="object-cover transform hover:scale-105 rounded-3xl transition duration-200" style="width: 173px; height: 192px" src="interlock-assets/team/pic2.jpg" alt="")
      //-             div(class="w-full lg:w-2/3 p-5")
      //-               div(class="mb-6 pt-4 flex flex-wrap justify-between -m-2")
      //-                 div(class="w-full lg:flex-1 p-2")
      //-                   h3(class="font-heading text-2xl font-bold") Sanath Kumar
      //-                   p(class="text-sm text-blue-500 font-medium") Founder
      //-                 div(class="w-full lg:w-auto p-2")
      //-                   div(class="flex flex-wrap -m-1")
      //-                     div(class="w-auto p-1")
      //-                       a(href="#" class="flex items-center justify-center w-10 h-10 bg-gray-50 rounded-full")
      //-                         svg(width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
      //-                           path(d="M12.3731 1.20053H14.7039L9.61187 7.02035L15.6022 14.9398H10.9118L7.23814 10.1367L3.03463 14.9398H0.702494L6.14886 8.71486L0.402344 1.20053H5.21177L8.53245 5.59076L12.3731 1.20053ZM11.5551 13.5447H12.8466L4.51001 2.52232H3.12411L11.5551 13.5447Z" fill="#060918")
      //-                     div(class="w-auto p-1")
      //-                       a(href="#" class="flex items-center justify-center w-10 h-10 bg-gray-50 rounded-full")
      //-                         svg(width="17" height="17" viewbox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
      //-                           path(d="M0.25 1.89816C0.25 1.35922 0.438632 0.914602 0.815878 0.564307C1.19313 0.213996 1.68356 0.0388489 2.28716 0.0388489C2.87999 0.0388489 3.35963 0.211296 3.72611 0.556223C4.10336 0.911918 4.29199 1.37539 4.29199 1.94667C4.29199 2.46404 4.10876 2.89518 3.74228 3.2401C3.36503 3.5958 2.86921 3.77365 2.25483 3.77365H2.23866C1.64583 3.77365 1.16619 3.5958 0.79971 3.2401C0.433231 2.88441 0.25 2.43709 0.25 1.89816ZM0.460183 16.0451V5.24493H4.04947V16.0451H0.460183ZM6.03813 16.0451H9.62741V10.0145C9.62741 9.63721 9.67053 9.34619 9.75676 9.14141C9.90765 8.77493 10.1367 8.46504 10.4439 8.21175C10.7511 7.95845 11.1364 7.8318 11.5999 7.8318C12.8071 7.8318 13.4107 8.64558 13.4107 10.2732V16.0451H17V9.8528C17 8.25755 16.6228 7.04766 15.8682 6.22309C15.1137 5.39853 14.1167 4.98624 12.8772 4.98624C11.4867 4.98624 10.4035 5.58446 9.62741 6.78089V6.81322H9.61125L9.62741 6.78089V5.24493H6.03813C6.05968 5.58984 6.07046 6.66231 6.07046 8.46235C6.07046 10.2624 6.05968 12.79 6.03813 16.0451Z" fill="#060918")
      //-               p(class="text-gray-500 font-medium leading-relaxed") Proin consequat risus a augue lobortis fermentum. Donec ex nunc, vestibulum eu porttitor efficitur, semper ultrices odio.
      section(class="py-24 md:py-36 bg-black")
        div(class="container mx-auto px-4")
          div(class="pt-32 bg-black overflow-hidden rounded-3xl" style="background: url('interlock-assets/gradients/gradient-download.png'); background-size: cover;")
            div(class="mb-24 max-w-xl mx-auto text-center")
              div(class="px-4")
                h2(class="mb-6 font-heading text-4xl text-white font-medium") Get In Touch
                //- p(class="mb-14 text-lg text-white font-light leading-relaxed")
                //-   | If you're ready to take the leap into the world of AI automation, we're here to help.
                //-   a(href="contact.html")  Contact us today to start transforming your business.
                p(class="mb-14 text-lg text-white font-light leading-relaxed") Ready to embrace AI automation? 
                  a(href="contact.html" class="text-pink-500 font-semibold hover:underline") Contact us today 
                  | to transform your business!
                
      section(class="pt-0")
          div(class="bg-black")
            div(class="container mx-auto px-4")
              div(class="py-6")
                div(class="flex flex-wrap items-center justify-between -m-2")
                  div(class="w-auto p-2")
                    img(class="h-12 w-auto" src="images/agntx-logo.png" alt="AGNTX AI Logo")
                    p(class="text-xs text-gray-400") © 2025 All rights reserved.
                  div(class="w-auto p-2")
                    ul(class="flex flex-wrap gap-2")
                      li
                        a(href="#" class="flex items-center justify-center w-10 h-10 bg-gray-50 hover:bg-gray-100 rounded-full transition duration-200")
                          svg(width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M12.3731 1.20056H14.7039L9.61187 7.02038L15.6022 14.9398H10.9118L7.23814 10.1367L3.03463 14.9398H0.702494L6.14886 8.71489L0.402344 1.20056H5.21177L8.53245 5.59079L12.3731 1.20056ZM11.5551 13.5448H12.8466L4.51001 2.52235H3.12411L11.5551 13.5448Z" fill="#060918")
                      li
                        a(href="#" class="flex items-center justify-center w-10 h-10 bg-gray-50 hover:bg-gray-100 rounded-full transition duration-200")
                          svg(xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewbox="0 0 17 17" fill="none")
                            g(clip-path="url(#clip0_323_395)")
                              path(d="M0.25 1.89813C0.25 1.35919 0.438632 0.914572 0.815878 0.564277C1.19313 0.213966 1.68356 0.0388184 2.28716 0.0388184C2.87999 0.0388184 3.35963 0.211266 3.72611 0.556193C4.10336 0.911888 4.29199 1.37536 4.29199 1.94664C4.29199 2.46401 4.10876 2.89515 3.74228 3.24007C3.36503 3.59577 2.86921 3.77362 2.25483 3.77362H2.23866C1.64583 3.77362 1.16619 3.59577 0.79971 3.24007C0.433231 2.88438 0.25 2.43706 0.25 1.89813ZM0.460183 16.0451V5.2449H4.04947V16.0451H0.460183ZM6.03813 16.0451H9.62741V10.0144C9.62741 9.63718 9.67053 9.34616 9.75676 9.14138C9.90765 8.7749 10.1367 8.46501 10.4439 8.21172C10.7511 7.95842 11.1364 7.83177 11.5999 7.83177C12.8071 7.83177 13.4107 8.64555 13.4107 10.2731V16.0451H17V9.85277C17 8.25752 16.6228 7.04763 15.8682 6.22306C15.1137 5.3985 14.1167 4.98621 12.8772 4.98621C11.4867 4.98621 10.4035 5.58443 9.62741 6.78086V6.81319H9.61125L9.62741 6.78086V5.2449H6.03813C6.05968 5.58981 6.07046 6.66228 6.07046 8.46232C6.07046 10.2623 6.05968 12.7899 6.03813 16.0451Z" fill="#060918")
                            defs
                              clippath(id="clip0_323_395")
                                rect(width="16.75" height="16.0063" fill="white" transform="translate(0.25 0.0388184)")
      
